= simple_form_for(@post) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message

  = f.input :title
  = f.input :body, :as => :text
  -# = f.input :published, :as => :boolean
  .field
    .ui.checkbox
      %input{type: "checkbox", tabindex: "0", class: "hidden"}
      %label published

  .actions
    - if @post.new_record?
      %a.create-submit{href: 'javascript:;'} Create Post
    - else
      %a.update-submit{href: 'javascript:;', data: {id: @post.id}} Update Post
