= simple_form_for(@post) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message

  = f.input :title
  = f.input :body, :as => :text
  = f.input :published, :as => :semantic_ui_boolean

  .actions
    - if @post.new_record?
      %a.ui.button.primary.create-submit{href: 'javascript:;'} Create Post
    - else
      %a.ui.button.primary.update-submit{href: 'javascript:;', data: {id: @post.id}} Update Post

    = link_to 'Back', posts_path, class: 'ui button'
