= simple_form_for(@post) do |f|
  = f.input :title
  = f.input :body, :as => :text
  = f.input :published, :as => :semantic_ui_boolean

  .actions
    - if @post.new_record?
      %a.ui.button.primary.create-submit{href: 'javascript:;'} Create Post
    - else
      %a.ui.button.primary.update-submit{href: 'javascript:;', data: {id: @post.id}} Update Post

    = link_to 'Back', posts_path, class: 'ui button'
