!!!
%html
  %head
    %title TryCvSplit
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.app
    = react_component 'Layout.TopMenu'
    .ui.container.main
      .ui.grid
        .ui.four.wide.column
          = react_component 'Layout.SideMenu', current_path: request.path
        .ui.twelve.wide.column
          = yield
